.game-container {
  background-color: #003d5b;
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
}

.img-logo {
  height: 200px;
  align-self: center;
}
