<div class="menu-container">
    <img class="img-logo" #logo src="../assets/images/Battle Ship.png" alt="Battleship logo" />
    <button class="btn" *ngIf="!chooseGame" (click)="startGame()">
        START
    </button>
    <div class="btn-container" *ngIf="chooseGame && !joinGame && !createGame">
        <button class="btn small-fnt" (click)="renderJoinGame()">
            JOIN BATTLE
        </button>
        <button class="btn small-fnt" (click)="createNewGame()">
            CREATE <br />
            NEW BATTLE
        </button>
    </div>
    <div class="new-game-container" *ngIf="chooseGame && !joinGame && createGame">
        <p>YOUR GAME ID: {{gameId}}</p>
        <p>Waiting for oponent...</p>
    </div>
    <div class="new-game-container horizontal" *ngIf="chooseGame && joinGame && !createGame">
        <p>ENTER GAME ID:</p>
        <input #gameIdInput class="game-id-input" autocomplete="off" pattern="\d{6}" maxlength="6" minlength="6"
            required />
        <button class="btn small-fnt small-btn" (click)="joinExistingGame()">
            JOIN
        </button>
    </div>
    <button *ngIf="joinGame||createGame" class="btn-leave btn" (click)="exitGame()">LEAVE</button>
</div>