.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container {
  // height: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-set-game-container {
  width: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-ready {
  margin-top: 100px !important;
}

.btn {
  height: 41px;
  width: 121px;
  margin: 23px 0;
  font-size: 25px;
  color: #ffffff;
  background-color: #1c7293;
  border: 0;
}

.btn:hover {
  border: 2px solid #edae49;
}
