/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgba($color: #1c7293, $alpha: 0.59);
  margin: 0;
  min-height: 100%;
}

html {
  min-width: 1200px;
  height: 100%;
}

body * {
  font-family: "Sitka Small", sans-serif;
}
