h1 {
  font-family: "Sitka Small", sans-serif;
  text-align: center;
  font-size: 50px;
  color: #e96a7b;
}

.mat-dialog-content p {
  font-family: "Sitka Small", sans-serif;
  margin: 0;
  font-size: 80px;
  text-align: center;
  color: #e96a7b;
}
